LOCATION_CLIENT_URL=https://viacep.com.br/ws/@CEP/json/
WEATHER_CLIENT_URL=http://api.weatherapi.com/v1/current.json?key=@APIKEY&q=bulk
WEATHER_CLIENT_KEY="[API_KEY_WEATHER]"
WEB_SERVER_PORT=:8282
OTEL_SERVICE_NAME=service-b
OTEL_EXPORTER_OTLP_ENDPOINT=otel-collector:4317
OTEL_EXPORTER_ZIPKIN_URL=http://zipkin:9411/api/v2/spans
REQUEST_NAME_OTEL=service-b-request
LOCATION_SPAN_NAME_OTEL=fetch-location-service
WEATHER_SPAN_NAME_OTEL=fetch-weather-service